<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="col-md-4 column">
        <div id="commentbox">
            <form class="bs-example bs-example-form " role="form">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">{{ username }}</span>
                    <input type="text" class="small-input" placeholder="comment here" id="single-comment">
                </div>
                <div class="input-group input-group-lg">
                    <button class="btn" type="button" onclick="addcomment()">comment</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="comments-tip">
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="oldcomments-tip" trigger="getComment()">
            <!-- <button class="btn" type="button" onclick="getComment()">oldcomment</button> -->
        </div>
    </div>

</body>

</html>
<style media="screen">
    .comentbox {
        padding: 100px 100px 10px;
    }
</style>
<script>
    var oldcomments

    function  addcomment() {

        var  currentcomment = $('#single-comment').val();
        $('#single-comment').val("")
        $.ajax({
            type: 'POST',
            url: '/addComment',
            data: {
                'owner': 'piece1',
                'username': 'laowang',
                'comment': currentcomment
            },
            dataType: 'json'
        }).done(function(res) {
          oldcomments.unshift(res.data)
          loadComments(oldcomments)
        }).fail(function() {
            alert("fail");
        })
    };

    $(function getComment() {
        $.ajax({
                type: 'POST',
                url: '/pickComment',
                data: {
                    'owner': 'piece1'
                },
                dataType: 'json'
            }).done(function(res) {
                oldcomments = res.data
                loadComments(oldcomments)
            })
            .fail(function() {
                alert("fail");
            })
    });

    function loadComments(comments) {
      $(".oldcomments-tip").empty()
        $.each(comments, function(i, item) {
            var content = item.comment + item.comment_user
            $(".oldcomments-tip").append(content + "<br>")
        })
    };
</script>
